<form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
  <label>
    Title:
    <input formControlName="title" />
  </label>
  <label>
    Date:
    <input formControlName="date" type="date" />
  </label>
  <label>
    Start Time:
    <input formControlName="startTime" type="time" />
  </label>
  <label>
    End Time:
    <input formControlName="endTime" type="time" />
  </label>
  <button type="submit" [disabled]="appointmentForm.invalid">Save</button>
  <button type="button" (click)="close()">Cancel</button>
</form>
