<div class="appointment-form">
  <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
    <label>
      Title:
      <input formControlName="title" />
    </label>
    <label>
      Date:
      <input type="date" formControlName="date" />
    </label>
    <label>
      Start Time:
      <input type="time" formControlName="startTime" />
    </label>
    <label>
      End Time:
      <input type="time" formControlName="endTime" />
    </label>
    <button type="submit">Create</button>
    <button type="button" (click)="onClose()">Cancel</button>
  </form>
</div>
